@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
$kumbh: 'Kumbh Sans', sans-serif;

#nav{
    &__first
    {
        a{font-family: $kumbh} 
    }
}

#hero__text
{
    color: white;
    font-family: $kumbh;

    > *{
        text-align: center;
    }

    h1{
        font-size: 48px;
        line-height: 125%;
    }
    
    p{
        font-size: 24px;
        max-width: 35ch;
    }
}

#products
{
    font-family: $kumbh;

    h2{font-size: 36px; text-align: center;}
}