@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;500;700&display=swap');
@import '../abstract/colors.scss';
$kumbh: 'Kumbh Sans', sans-serif;

#nav{
    &__first
    {
        a{font-family: $kumbh} 
    }
}

#hero__text
{
    color: white;
    font-family: $kumbh;

    > *{
        text-align: center;
    }

    h1{
        font-size: 55px;
        line-height: 125%;
        span{
            background-image: linear-gradient(to right, map-get($orange, 'normal') 1%, map-get($orange, 'pale'));
            color: transparent;
            -ms-background-clip: text;
            -moz-background-clip: text;
            -o-background-clip: text;
            -webkit-background-clip: text;
        }
    }
    
    p{
        font-size: 24px;
        max-width: 35ch;
        font-weight: 500;
        line-height: 150%;
    }
}

#products
{
    font-family: $kumbh;

    h2{font-size: 36px; text-align: center;}
}

#about
{
    font-family: $kumbh;

    &__title
    {
        font-size: 38px;
        color: $white;
    }
}