@import '../abstract/colors';
@import '../base/typography';
#nav{
    display: flex;
    align-items: center;
    height: 68px;

    &__first
    {
        display: flex;
        align-items: center;
        grid-gap: 50px;
        gap: 50px;

        div{
            display: flex;
            align-items: center;
            grid-gap: 16px;
            gap: 16px;
        }

        a{
            text-decoration: none;
            color: map-get($grayishblue, 'dark')
        }
    }
}

@media only screen and (min-width: 1112px)
{
    #nav{
        width: 1112px;
        margin: 0 auto;
        height: 112px;

        &__first
        {
            #nav__links
            {
                a
                {
                    &:hover{
                        color: red;
                    }
                }
            }
        }
    }
}