@import '../abstract/mixins.scss';
#products
{
    padding: 150px 0;

    &__title
    {
        margin-bottom: 64px;
    }

    &__container
    {
        @include flexCenter();
        gap: 64px;
        
        > div 
        {
            @include flexCenter();
            padding: 24px 10px;
            justify-content: space-between;
            min-width: 325px;
            height: 494px;
            box-shadow: 3px 3px 3px rgb(201, 201, 201);
            border-radius: 8px;
            position: relative;

            img
            {
                max-width: 100%;
                height: 150px;
            }

            h2{
                font-size: 20px;
                line-height: 130%;
            }

            h3{
                position: absolute;
                bottom: 37.5px;
                right: 20px;
            }

            button{
                @include button;
                border: solid black;
            }
        }

        // products container
        @media (min-width: 768px)
        {
            gap: 75px;
            display: grid;
            grid-template-columns: repeat(2, 325px);
        }

        @media (min-width: 1366px)
        {
            grid-template-columns: repeat(3, 325px);
        }

        @media (min-width: 1780px)
        {
            grid-template-columns: repeat(4, 325px);
        }
        
        @media (min-width: 2220px)
        {
            grid-template-columns: repeat(5, 325px);
        }
    }

    @media only screen and (min-width: 768px)
    {
        @include flexCenter();
    }
}