@import '../abstract/colors.scss';
@import '../abstract/mixins.scss';
#about
{
    &__title
    {
        display: grid;
        place-items: center;
        height: 550px;
        background: $heroColor;

        h1{margin-top: 112px;}
    }

    &__content 
    {
        @include flexCenter;

        padding: 64px 0;

        &--wrapper
        {
            @include flexCenter;
            gap: 164px;
            .about__card
            {
                @include flexCenter(column-reverse);
                gap: 32px;
                text-align: center;

                img
                {
                    width: 345px;
                }

                div 
                {
                    & > p{
                        max-width: 35ch;
                        font-size: 20px;
                    }

                    & > h2 {
                        font-size: 34px;
                        margin-bottom: 16px;
                    }
                }

                @media(max-width: 280px)
                {
                    img
                    {
                        width: 245px;
                    }
                }

                @media(min-width: 1112px)
                {
                    text-align: left;
                    @include flexCenter(row);

                    img{
                        width: auto;
                    }

                    div 
                    {
                        & > p{
                            max-width: 35ch;
                            font-size: 20px;
                        }

                        & > h2 {
                            font-size: 34px;
                            margin-bottom: 16px;
                        }
                    }
                }
            }
        }
    }
}